---
---

@import 'reset'

$mobile-side: 0.75rem
$narrow-width: 32rem
$wide-width: 40rem
$logo-size: 2.5rem

$break-phone: 25rem
$break-tablet: 32rem
$break-mobile-sides: $narrow-width + $mobile-side * 2
$break-wide: $wide-width + $mobile-side * 2

$color-purple: #834A7D


body
  font-family: "ff-tisa-web-pro", Georgia, serif
  background-color: $color-purple
  color: #222

  .wf-loading &
    color: transparent

  @media (max-width: $break-phone)
    font-size: 0.875em


a
  color: inherit

em
  font-style: italic

img
  max-width: 100%
  max-height: 100%


.page
  zoom: 1
  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both

  min-height: 100vh
  background-color: white


.container
  margin: 0 auto
  max-width: $narrow-width


.header
  position: absolute
  top: 0
  left: 0
  width: 100%


.logo-container
  $max-width: $narrow-width + $logo-size * 2
  @media (min-width: $max-width)
    max-width: $max-width


.logo
  display: block
  width: 2.5em
  height: 2.5em

  background-color: $color-purple


.layout
  .block
    margin-top: 2em

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 2em


.block
  @extend .container

  @media (max-width: $break-mobile-sides)
    padding: 0 $mobile-side

  &--full
    padding-left: 0
    padding-right: 0

  &--wide
    @media (min-width: $break-wide)
      max-width: $wide-width

  .block__title
    margin: 2em 0

  .block__body
    margin-top: 0.5em

  .block__header + .block__body
    margin-top: 0.25em

  .block__image,
  .block__video-container
    + .block__caption
      margin-top: 0.5em

  .block__header + .block__figure
    margin-top: 0.75em

  .block__figure--captioned + .block__body
    margin-top: 1em

  .block__images-container,
  .block__list,
  .block__images-container + .block__body
    margin-top: 1em


.block__title
  font-size: 1.5em
  line-height: 1.5em
  text-align: center

  a
    text-decoration: none

  @media (min-width: $break-phone)
    font-size: 1.75em

  @media (min-width: $break-tablet)
    font-size: 2em


.block__header
  font-size: 1.125em
  line-height: 1.5em
  font-weight: bold


.block__body
  p
    margin-top: 1em
    line-height: 1.5em

    &:first-child
      margin-top: 0

  ul, ol
    margin-top: 1em

    &:first-child
      margin-top: 0

  li
    position: relative
    margin-left: 0.75em
    line-height: 1.5em

    &:before
      position: absolute
      left: -0.75em
      content: '-'

    @media (min-width: $break-tablet)
      margin-left: 1.5em


.block__image
  vertical-align: top

  img
    width: 100%

  &--half
    @media (min-width: $break-phone)
      display: inline-block
      width: 48.5%

  &--border
    border: solid 1px lightgray


.block__image--shadow
  img
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15)

  &.block__image--half img
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15)

  .block--wide &:not(.block__image--half) img
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.15)


.block__images-container
  .block__image--half
    margin-top: 1em

    @media (min-width: $break-phone)
      margin-top: 3%

      &:first-child,
      &:nth-child(2)
        margin-top: 0

      &:nth-child(odd)
        margin-left: 0
        margin-right: 1.5%

      &:nth-child(even)
        margin-left: 1.5%
        margin-right: 0


.block__video-container
  margin: 0 auto


.block__video
  position: relative
  height: 0
  padding-bottom: 56.25%

  background-color: black

  video,
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &--border
    video,
    iframe
      border: solid 1px lightgray


.block__video--shadow
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15)

  .block--wide &
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.15)


.block__caption
  p
    font-size: 0.75rem
    font-style: italic
    line-height: 1.5em
    text-align: center

  @media (max-width: $break-mobile-sides)
    .block--full &
      padding: 0 $mobile-side


.block__time
  font-style: italic

  &:before
    content: '– '

  a
    text-decoration: none


.block__footer
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-justify-content: space-between
  -webkit-justify-content: space-between
  justify-content: space-between
  -ms-align-items: flex-start
  -webkit-align-items: flex-start
  align-items: flex-start


.footer
  margin-top: 4em
  margin-bottom: 2em

  p
    font-size: 0.75rem
    text-align: center
